*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    height: 4rem;
    position: absolute;
  
}
.container h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}